language: generic

services:
  - docker

script:
  - docker build --build-arg QT_VERSION=${QT_VERSION} IFW_VERSION=${IFW_VERSION} -f ${UBUNTU_CODENAME}.Dockerfile -t ${DOCKER_USERNAME}/qt:${UBUNTU_CODENAME}-${QT_VERSION}
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push ${DOCKER_USERNAME}/qt:${UBUNTU_CODENAME}-${QT_VERSION}

matrix:
  include:
    - env: QT_VERSION=4.9.8 IFW_VERSION=3.1.1 UBUNTU_CODENAME=xenial
    - env: QT_VERSION=4.9.8 IFW_VERSION=3.1.1 UBUNTU_CODENAME=bionic
